header, .navbar {
  background-color: var(--app-header-bg);
  color: var(--app-white);
}

.navbar-item {
  color: var(--app-white);
}

.navbar-brand .navbar-item:hover,
.navbar-brand .navbar-item:focus {
  color: var(--app-white);
}

.navbar-menu {
  background-color: var(--app-header-bg);
}

.navbar-menu .navbar-item:hover,
.navbar-menu .navbar-item:focus {
  color: var(--app-white);
  background-color: var(--app-color-1);
}

.navbar-menu .navbar-item.active-item {
  background-color: var(--app-color-1);
}

.navbar-burger {
  color: var(--app-white);
}

header img {
  max-height: 5.2rem;
}
