@import '~bulma/css/bulma.min.css';
@import './base/_settings.css';
@import './base/_base.css';
@import './components/header.css';
@import './components/posts.css';
@import './components/postlist.css';
