html {
  font-size: 62.5%;
  overflow-y: auto;
  background-color: var(--app-bg);
}

body {
  font-family: 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
  font-size: 1.4rem;
}

h1, h2 {
  font-size: 3rem;
}

h2 {
  font-size: 2.5rem;
}

.home-page-logo {
  max-height: 40vw;
}
